<!DOCTYPE html>
<html>

<head>
  <title><%= title %>List</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %>List</h1>
  <h1>HIII</h1>
  <table>
    <tr>
      <th>id</th>
      <th>address</th>
      <th>telephone</th>
      <th>營業時間</th>
      <th>類別</th>
      <th>店名</th>
    </tr>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <tr>
      <td>
        <%= data[i].id  %>
      </td>
      <td>
        <%= data[i].address  %>
      </td>
      <td>
        <%= data[i].telephone  %>
      </td>
      <td>
        <%= data[i].營業時間  %>
      </td>
      <td>
        <%= data[i].類別  %>
      </td>
      <td>
        <%= data[i].店名  %>
      </td>
    </tr>
    <% } %>
  </table>
</body>

</html>