<form name="editform" action="restaurantEdit" method="post" accept-charset="utf-8">
    <h1>Restaurant - Edit</h1>
    <input type="hidden" name="id" value="<%=data[0].id  %>" />
    <div>
        <label>address：</label>
        <!-- type:password 輸入文字變圓點 -->
        <input type="text" name="address" placeholder="address" value="<%=data[0].address  %>">
    </div>
    <div>
        <label>telephone：</label>
        <input type="text" name="telephone" placeholder="telephone" value="<%=data[0].telephone  %>">
    </div>
    <div>
        <label>營業時間：</label>
        <input type="text" name="營業時間" placeholder="營業時間" value="<%=data[0].營業時間  %>">
    </div>
    <div>
        <label>類別：</label>
        <input type="text" name="類別" placeholder="類別" value="<%=data[0].類別  %>">
    </div>
    <div>
        <label>店名：</label>
        <input type="text" name="店名" placeholder="店名" value="<%=data[0].店名  %>">
    </div>
    <div>
        <input type='submit' value='Submit'>
        <input type='reset' value='Reset'>
        <input type='button' value='Back' onclick="javascript: window.history.back();">
    </div>
</form>